nav ul a,
nav .brand-logo {
  color: #444;
  margin-left: .2em;
}

nav .nav-wrapper {
  width: 100%;
}

p {
  line-height: 2rem;
}

i {
  vertical-align: middle;
}

h5 .left-align {
  padding-left: 10px;
}

textarea {
  border: none;
  resize: none;
  text-align: center;
}

.col {
  max-width: 940px;
  padding: 10px;
}

.card-panel {
  border-radius: 10px;
  margin: 10px;
  max-width: 440px
}

.item-desc {
  font-size: 1.5rem;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.page-footer {
  margin: 0;
}

.poll-item {
  font-size: 25px;
  margin: 0;
  min-height: 30px;
}

.poll-item-med {
  height: 150px;
  font-size: 16px;
  text-align: center;
}

.poll-item-large {
  height: 250px  ;
  font-size: 16px;
  text-align: center;
}

.row {
  margin:0;
}

.section {
  border-radius: 10px;
  margin: 10px;
}
